{
  "extends": [
    "stylelint-config-recommended-scss"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "indentation": 4,
    "selector-type-no-unknown": [true, {
      "ignore": ["default-namespace"]}],
    "max-empty-lines": 1,
    "block-closing-brace-empty-line-before": "never",
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
